body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin-top: 40px;
  width: 100%;
}

.container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 20px grey;
  padding: 20px;
  width: 50%;
}

#search-container {
  display: flex;
  justify-content: space-between;
}

#search-bar {
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 4px;
  margin-right: 9px;
  padding: 6px 12px;
  width: 70%;
}

#search-button {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 4px;
  font-weight: bolder;
  padding: 6px 12px;
  width: 100px;
}

.error-div {
  background-color: #f8d7da;
  border-radius: 4px;
  color: #721c24;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#data-container {
  margin-top: 20px;
}

#user-info {
  display: flex;
}

.avatar {
  width: 150px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

h2 {
  margin: 0;
}

.strong-separation {
  background-color: black;
  height: 1px;
}

.repo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.stars-and-forks {
  align-items: center;
  display: flex;
}

.stars-and-forks p {
  margin: 0 5px;
}